{% extends "layout.html" %}

{%block title%}Search{% endblock %}

{% block username %}{{ username.capitalize() }}{% endblock %}

{%block logout%} Logout {% endblock %}

{% block body %}

<h1>Serach</h1>
<div style="margin-left:3%;">
	<form action="serachbook" method="get">
		<table>
			<tr>
				<td style="padding:10%;">
					<label for="isbn">ISBN</label>
				</td>
				<td style="padding:10%;margin-left:15%;">
					<input type="text" class="form-control" name="isbn" placeholder="isbn">
				</td>
			</tr>
			<tr>
				<td style="padding:10%;">
					<label for="Tittle">Tittle</label>
				</td>
				<td style="padding:10%;margin-left:15%;">
					<input type="text" class="form-control" name="tittle" placeholder="Title">
				</td>
			</tr>
			<tr>
				<td style="padding:10%;">
					<label for="Author">Author</label>
				</td>
				<td style="padding:10%;margin-left:15%;">
					<input type="text" class="form-control" name="author" placeholder="author">
				</td>
			</tr>
			<tr>
				<td>
					<button type="submit" class="btn btn-outline-primary">Search Book</button>
				</td>
			</tr>
		</table>
</div>
</form>
{% endblock %}
